<header class="main-header">
    <!-- Logo -->
  <a href="profile.html" class="logo">
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>K8</b>&nbsp;True Health</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="hidden-sm hidden-xs">
            <form class="navbar-form " role="search">
              <input style="width:300px;" type="text" class="form-control" id="navbar-search-input" placeholder="Search">
          </form>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
           <li class="dropdown user user-menu"">
           
          <a href="profile.html">
              <span>Name Profile</span>
            </a>
            </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gear"></i>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header hidden-xs hidden-sm">
                <img class="profile-user-img img-responsive img-circle" src="../image/ss.png" width="128px" height="128px" alt="User profile picture">

                <p>
                  Nama User
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer hidden-xs hidden-sm">
                  <a href="#" class="btn btn-default btn-flat" style="text-align:center;">Sign out</a>
              </li>
              <li class="hidden-md hidden-lg" style="background-color:#367fa9;">
                  <a href="#" class="btn btn-default btn-flat" style="text-align:center;">Sign out</a>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>